body {
    background-color: #7655a3;
}

.header {
    height: 600px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/img\ 1.jpg);
    background-size: 100% 600px;
}

h1 {
    font-size: 85px;
    color: #355531;
    display: inline-block;
    margin: 30px;
    padding 20px;
}

.header nav {
    font-size: 35px;
    margin: 28px;
    padding: 18px;
    float: right;
}

.header nav ul {
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin: 10px
}

a {
    color:#355531;
}

aside {
  float: left;
  height: 100%;
  width: 25%;
  background: color #806c33;
  margin-left: 15px;
  padding: 15px;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}

.sidebar {
    margin: 35px;
}